<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.dao.mapper.UsersMapper">
	<select id="selectUser" resultType="com.yc.bean.Users">
	   select * from users where usid = #{usid}
	</select>
	<delete id="deleteUser" parameterType="com.yc.bean.Users">
	   delete from users WHERE usid = #{usid}
	</delete>
	<update id="updateUser"  parameterType="com.yc.bean.Users">
	   update users set uname = #{uname} , upwd = #{upwd} where usid = #{usid}
	</update>
	<insert id="insertUser"  parameterType="com.yc.bean.Users">
	   insert into users values(seq_users.nextval,#{uname},#{upwd})
	</insert>
</mapper>